<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../public/favicon.ico"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../public/favicon.ico"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../public/favicon.ico"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="../../public/css/executiveReport.css" />
    <title>Executive Report</title>
  </head>
  <body>
    <div class="apiIntroductionDetails">
      <div class="headingDiv">
        <h1>A Executive Report for BOLA and SSD scans</h1>
        <p class="headingParagraph">
          This is a report displaying the scan results from a concluded and
          successful scan of Broken Object Level and Shadow Sensitive Data Scan
          by M4z3 on the Provided API.
        </p>
      </div>
      <div class="timeAndDateInfo">
        <p class="time"></p>
        <p class="date"></p>
      </div>
      <div class="apiDetails">
        <p class="apiOwnerName"></p>
        <p class="apiOwnerEmail"></p>
        <p class="apiName"></p>
        <p class="apiDescription"></p>
        <p class="apiURL"></p>
        <p class="apiKeywords"></p>
        <p class="apiIdentifiers"></p>
        <p class="scanType"></p>
        <p class="durationOfScan"></p>
      </div>
    </div>

    <div class="executiveScanResults">
      <h3>Breakdown Report for both Scans</h3>
      <div class="executiveIsVulnerableToBolaAndSssd">
        <p class="executiveIsVulnerableToBola"></p>
        <p class="executiveIsVulnerableToSssd"></p>
        <p class="executiveSecurityPosture"></p>
        <p class="executiveSecurityPriority"></p>
        <p class="executiveCategoryForImediateAction"></p>
      </div>
      <div class="executiveImpact">
        <h3>Impact of both vulnerabilities to Business Logic and Continuity</h3>
        <p class="executiveBolaImpactReview"></p>
        <p class="executiveSssdImpactReview"></p>
      </div>
      <div class="executiveRecommendation">
        <h3>Recommendation/Mitigation Strategies</h3>
        <p class="executiveBolaRecommendation"></p>
        <p class="executiveSsdRecommendation"></p>
      </div>
    </div>

    <footer><p class="copywright">M4z3 Copywright 2024</p></footer>
  </body>
</html>
