<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon.ico" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>Log In</title>
    <link rel="stylesheet" href="../css/login.css" />
  </head>
  <nav class="navigation">
    <a href="../index.html"> <img src="../favicon.ico" alt="" /> Maze</a>
  </nav>
  <body>
    <div class="loginDiv">
      <form class="loginForm" id="loginForm">
        <h1 class="loginHeading">Login to Maze</h1>
        <label for="userEmailInputId" class="userEmail">
          Email <br />
          <input
            type="email"
            class="userEmailInputClass"
            id="userEmailInputId"
            placeholder="enter your email"
          />
        </label>

        <label for="userPasswordInputId" class="userPassword">
          Password <br />
          <input
            type="password"
            class="userPasswordInputClass"
            id="userPasswordInputId"
            placeholder="enter your password"
          />
        </label>

        <button class="loginButton" type="submit">Login</button>
        <p class="dontHaveAnAccount">
          Don't have an account? <a href="../views/signup.html">Sign Up Here</a>
        </p>
      </form>
    </div>

    <footer class="footer">
      <p class="footerInfo">
        <img src="../favicon.ico" alt="" />CopyWright 2024 Maze
      </p>
    </footer>
    <script src="../js/login.js"></script>
  </body>
</html>
