<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon.ico" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="../css/userProfile.css" />
    <title>User Profile</title>
  </head>
  <nav class="navigation">
    <div class="nav1">
      <a href="./index.html">
        <img src="../favicon.ico" alt="logo" />
        Maze</a
      >
    </div>
    <div class="nav2">
      <a href="./public/views/services.html">Services</a>
      <a href="">Support</a>
      <a href="./index.html">About</a>
    </div>
    <div class="nav3">
      <a href="./views/signup.html">Log Out</a>
      <a href="./views/signup.html">Log Out</a>
    </div>
  </nav>
  <body>
    <h1>My Profile</h1>
    <div class="userProfileDiv">
      <div class="userProfile"></div>
    </div>
  </body>
</html>
