@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Slab", serif;
}
.navigation {
  background-color: rgb(0, 0, 43);
  display: inline-flex;
  align-items: center;
  height: 10vh;
  width: 100%;
}
.navigation::after {
  width: 100%;
  position: absolute;
  margin-top: 3%;
  content: "";
  background-color: white;
  height: 1px;
}
.navigation a {
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  display: inline-flex;
  align-items: center;
}
.navigation a img {
  width: 3vw;
  margin-left: 1%;
  height: 6vh;
}
.signUpDiv {
  padding: 1px;
  display: grid;
  /* background: linear-gradient(to bottom, #3c3b3b, #141414, black); */
  /* background-color: rgb(0, 0, 43); */
  background-color: aliceblue;
  height: 83vh;
}
.signUpForm {
  background-color: #191b23;
  display: grid;
  width: 30vw;
  height: 70vh;
  margin-left: 35%;
  margin-top: 3%;
}
.signUpHeading {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 5%;
}
label {
  margin-left: 20%;
  color: white;
  font-size: 13px;
  font-weight: bold;
}
label input {
  background: none;
  border: none;
  border: 1px solid grey;
  padding: 10px;
  color: white;
  height: 6vh;
  width: 20vw;
}
label .error {
  color: red;
  font-size: 10px;
}
.signUpButton {
  background-color: rgb(0, 0, 43);
  border: none;
  color: white;
  height: 6vh;
  width: 20vw;
  font-weight: bold;
  margin-left: 20%;
  border-radius: 20px;
}
.alreadyHaveAnAccount {
  color: grey;
  font-size: 13px;
  text-align: center;
}
.alreadyHaveAnAccount a {
  color: white;
}
.footer {
  padding: 1px;
  background-color: rgb(0, 0, 43);
  height: fit-content;
}
.footer .footerInfo {
  margin-top: 1%;
  color: white;
  font-size: 13px;
  text-align: center;
  display: inline-flex;
  align-items: center;
}
.footerInfo img {
  width: 3vw;
}
